.text-shadow {
    text-shadow: 1px 1px 1px #C7253E , 1px 0px 6px #1E201E;
}

.body-color {
    background-color: #fdfdfc;
}

/* styles.css */
.tab-container {
    -ms-overflow-style: none;   /* Internet Explorer and Edge */
    scrollbar-width: none;      /* Firefox */
  }
  
  .tab-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }

  @keyframes slideSendAnimate {
    0% {
      transform: translateX(-50%);
    }

    50% {
      transform: translateX(2%);
    }

    75% {
      transform: translateX(-40%);
    }

    100% {
      transform: translateX(0%);
    }
    
  }

  .sendAnimate {
    animation: slideSendAnimate 0.5s ease-in-out;
  }


  @keyframes animateEmojis {
    0% {
      transform: translateY(-25px);
    }

    50% {
      transform: translateY(0);
    }

    70% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }

  }

  .span2 {

    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.1s;
  }

  .span3 {

    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.2s;
  }

  .span1 {
    animation: animateEmojis 0.5s ease-in-out;
  }

  @keyframes animateEmojiBox {
    0% {
      transform: translateY(10px) scaleX(0.8);
    }

    100% {
      transform: translateY(0) scaleX(1.0);
    }
    
  }

  .animateBox {
    animation: animateEmojiBox 0.1s ease-in-out;
  }


  .emoji1 {
    animation: animateEmojis 0.5s ease-in-out;
    
  }

  .emoji2 {
    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.1s;
  }

  .emoji3 {
    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.2s;
  }

  .emoji4 {
    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.3s;
  }

  .emoji5 {
    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.4s;
  }

  .emoji6 {
    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.5s;
  }

  .emoji7 {
    animation: animateEmojis 0.5s ease-in-out;
    animation-delay: 0.1s;
  }

@keyframes animatePostHightlight {
  0% {
    background-color:  rgba(85, 143, 85, 0.2)
  } 
  
  10% {
    background-color: rgba(85, 143, 85, 0.2);
  }

  20% {
    background-color: rgba(85, 143, 85, 0.2)
  }

  30% {
    background-color: rgba(85, 143, 85, 0.2)
  }

  40% {
    background-color: rgba(85, 143, 85, 0.2)
  }

  50% {
    background-color: rgba(85, 143, 85, 0.2)
  }

  60% {
    background-color: rgba(85, 143, 85, 0.2)
  }

  70% {
    background-color: rgba(85, 143, 85, 0.2)
  }

  80% {
    background-color: rgba(85, 143, 85, 0.2)
  }

  
}


.animatePost {
  animation: animatePostHightlight 3s ease-in-out;
}

@keyframes animateLetter {
  0% {
    transform: translateX(650px);
  }
  50% {
    transform: translate(-30px) ;
  }

  65% {

    transform: translateX(0) rotate(-30deg);
  }
  85% {
    transform: rotate(30deg), translateX(0);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}


@keyframes animateBox1 {
  0% {
    transform: translateX(0) translate(0);
    opacity: 1.0;
  }


  12.5% {
    opacity: 0.5;
  }

  25% {
    transform: translateX(20px) translateY(0);
    opacity: 1.0;
  }

  32.5% {
    opacity: 0.5;
  }

  50% {
    transform: translateY(20px) translateX(20px) ;
    opacity: 1.0;
  }

  62.5% {
    opacity: 0.5;
  }
  
  75% {
    transform: translateX(0) translateY(20px);
    opacity: 1.0;
  }

  87.5% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0) translateY(0);
  }
  
}

.box1 {
  animation: animateBox1 1.5s ease-in-out infinite;
}



@keyframes animateBox2 {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1.0;
  }

  12.5% {
    opacity: 0.5;
  }

  25% {
    transform: translateX(-20px) translateY(0);
    opacity: 1.0;
  }

  32.5% {
    opacity: 0.5;
  }


  50% {
    transform: translateX(-20px) translateY(-20px);
    opacity: 1.0;
  }

  62.5% {
    opacity: 0.5;
  }

  75% {
    transform: translateX(0) translateY(-20px);
    opacity: 1.0;
  }

  87.5% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0) translateY(0);
    opacity: 1.0;
  }
}

.box2 {
  animation: animateBox2 1.5s ease-in-out infinite; 
}


